.table-tbody {
    display: table-row-group;
}

.caption {
    padding: 16px;;
    border: 1px solid rgba(224, 224, 224, 1);
    border-top: none;
    caption-side: bottom;
    display: table-caption;
    text-align: center;
}
