.loader-container{
    position: relative;
}

.loader-content-container {
    position: relative;
    transition: opacity .3s;
}

.loader-content-container__loading {
    clear: both;
    opacity: .5;
}

