html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.app-container {
    padding: 12px;
}


.content-container {
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 2px;
    padding: 12px;
}

.control {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 2px;
    margin: 0 0 12px;
    padding: 12px;
}
